body h1 {
    position: fixed;
}

.first-row {
    margin-left: 5px;
    color: gray;
    text-decoration: none;
    padding: 5px;
}

.second-row {
    margin-left: 20px;
    color: gray;
    text-decoration: none;
    padding: 5px;
}

.third-row {
    margin-left: 40px;
    color: gray;
    text-decoration: none;
    padding: 5px;
}

.global-block {
    background-color: #efeef0;
    margin-top: 75px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 200px;
    padding: 10px;
    flex: 5%;
}

.summary {
    flex: 20%;
    margin-top: 75px;
    margin-right: 20px;
    margin-left: 10px;
    background-color: #efeef0;
    position: fixed;
    border-radius: 10px;
    display: grid;
}

.block {
    font-family: "Arial";
    color: white;
    text-align: left;
    background-color: #615dfa;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}

.little-block {
    font-family: "Arial";
    color: white;
    text-align: left;
    background-color: #615dfa;
    padding-left: 30px;
}

div h4 {
    margin-top: 30px;
    margin-bottom: 0px;
}

@media screen and (max-width:680px) {
    /*a modifier pour faire une petite page cacher*/
    .summary {
        flex: 0%;
    }
    .global-block {
        margin-left: 20px;
    }
}