.test {
    margin-top: 75px;
}

.head-block {
    background-color: rgb(44, 44, 176);
    position: fixed;
    border-radius: 10px;
    margin-right: 10%;
    margin-left: 20%;
    padding-left: 10px;
    padding-right: 10px;
}

.flex-runtime {
    font-family: "Arial";
    color: white;
    flex: 1;
    text-align: left;
    background-color: #784fb0;
    position: fixed;
    border-radius: 10px;
    padding: 15px;
    margin-right: 10%;
    margin-left: 20%;
    margin-top: 50px;
}

.flex-larva {
    font-family: "Arial";
    color: white;
    flex: 1;
    text-align: left;
    background-color: #784fb0;
    position: fixed;
    border-radius: 10px;
    padding: 15px;
    margin-right: 10%;
    margin-left: 20%;
    margin-top: 250px;
}

.flex-centralisation {
    font-family: "Arial";
    color: white;
    flex: 1;
    text-align: left;
    background-color: #784fb0;
    position: fixed;
    border-radius: 10px;
    padding: 15px;
    margin-right: 10%;
    margin-left: 20%;
    margin-top: 432px;
}

.flex-different-uses {
    font-family: "Arial";
    color: white;
    flex: 1;
    text-align: left;
    background-color: #784fb0;
    position: fixed;
    border-radius: 10px;
    padding: 15px;
    margin-right: 10%;
    margin-left: 20%;
    margin-top: 550px;
}