body h1 {
    position: fixed;
}

.global-block {
    background-color: #efeef0;
    margin-top: 75px;
    border-radius: 10px;
    margin-right: 20px;
    
    padding: 10px;
    flex: 5%;
}
.block {
    font-family: "Arial";
    color: black;
    text-align: left;
    background-color: #efeef0;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}


.tutorials {
    color: black;
    font-size: 30px;
    text-decoration: underline;
    background-color: #efeef0;
    margin-top: 15px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 50px;
    padding: 10px;
    flex: 5%;
}

.first-row {
    margin-left: 5px;
    color: gray;
    text-decoration: none;
    padding: 5px;
}

.second-row {
    margin-left: 20px;
    color: gray;
    text-decoration: none;
    padding: 5px;
}

.third-row {
    margin-left: 40px;
    color: gray;
    text-decoration: none;
    padding: 5px;
}


.summary {
    align-items: top;
    margin-top: 75px;
    margin-left: 10px;
    background-color: #efeef0;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: grid;
}
.head-block {
    font-family: "Arial";
    color: rgb(28, 14, 110);
    border-radius: 10px;
    margin-right: 5%;
    margin-left:12.5%;
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 0px;
}


.image {
    flex: 1;
    text-align: center;
    background-color: #615dfa;
    border-radius: 10px;
    padding: 15px;
    margin-right: 20%;
    margin-left: 0%;
    margin-top: 25px;
    
}

.flex-different-uses {
    font-family: "Arial";
    color: white;
    flex: 1;
    text-align: left;
    background-color: #784fb0;
    border-radius: 10px;
    padding: 15px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 580px;
}