.content {
    display: flex;
    flex-wrap: wrap;
}

.content2 {
    display: flex;
    flex-wrap: wrap;
}

.content .video-block {
    font-family: "Arial";
    cursor: pointer;
    color: black;
    text-align: center;
    background-color: #efeef0;
    border-radius: 10px 10px 10px 10px;
    padding: 25px;
    flex: 5%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 75px;
}

.content2 .video-block {
    font-family: "Arial";
    cursor: pointer;
    color: black;
    text-align: center;
    background-color: #efeef0;
    border-radius: 10px 10px 10px 10px;
    padding: 25px;
    flex: 5%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 75px;
}

@media screen and (max-width:680px) {
    .content .video-block {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 75px;
        padding: 10px;
    }
}